* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* COLORS */
    --LICORITE: #110515;
    --RUSSIAN-VIOLET: #221545;
    --REBECCA-PURPLE: #68388D;
    --ROYAL-PURPLE: #855AB4;
    --OlD-GOLD: #DBC253;
    --OLD-GOLD-HIGHLIGHT: #fde98e;

    /* SIZES */
    --SMALL: 14px;
    --MEDIUM: 18px;
    --BIG: 24px;
    --LARGE: 32px;
    --XLARGE: 64px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    position: sticky;
    width: 100%;
    background-color: var(--RUSSIAN-VIOLET);
    display: flex;
    gap: var(--LARGE);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: var(--MEDIUM);
}

.heading {
    display: flex;
    flex-direction: column;
}

.link-container {
    height: 30px;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

a {
    width: auto;
    background-color: var(--LICORITE);
    padding: var(--SMALL);
    text-decoration: none;
    color: var(--OlD-GOLD)
}

a:hover, a:focus {
    color: var(--OLD-GOLD-HIGHLIGHT);
}

h1, h2 {
    color: var(--OlD-GOLD);
    text-align: center;
}

main {
    display: flex;
    width: 80%;
    flex-direction: column;
    flex: 1;
    gap: var(--XLARGE);
    margin: var(--XLARGE) 0;
}

section {
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

section p {
    max-width: 90%;
}


h3 {
    font-size: var(--LARGE);
    text-align: center;
}

h4 {
    font-size: var(--BIG);
}

.content {
    display: flex;
    gap: var(--LARGE);
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.content img {
    border-radius: var(--BIG);
    min-width: 250px;
    max-width: 500px;
}

.content hr {
    width: var(--MEDIUM);
    background-color: var(--REBECCA-PURPLE);
    border: none;
}

footer {
    height: var(--XLARGE);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--RUSSIAN-VIOLET);
    color: var(--ROYAL-PURPLE);
}

@media (min-width: 600px) {
    header {
        flex-direction: row;
    }

    .heading {
        align-items: flex-start;
    }

    .content{
        flex-direction: row;
    }

    .content.reversed {
    display: flex;
    flex-direction: row-reverse;
    }
}